<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<title>EAT DA BURGER</title>

</head>

<body>
<div class="container">
        <div class="jumbotron">
            <h1 class="text-center"> EAT DA BURGER!</h1>
            <hr>
            <img class="img-responsive center-block" src="/assets/images/burger.png">
        </div>


	{{{body}}}
</div>
</body>

</html>